#main-outlet {
  background-color: var(--secondary) !important;
  width: calc(96.5% - 1em) !important;
  padding: 1em 1em 1em 1em !important;
  margin-top: 30px !important;
  border: 0px !important;
  box-shadow: none !important;
  border-radius: 1em !important;
}

#list-area{
  margin-bottom 0px !important;
}

.category-box{
   max-height: 90px !important;
}

.category-logo{
   width: 90px !important;
}

.topic-excerpt{
  display: none !important;
}

.topic-item-stats .discourse-tags{
  display: none !important; 
}

.topic-item-stats .num.activity{
  margin-left: 0px !important; 
}
.topic-list-item .topic-list-data.posts{
  justify-content: left !important; 
}
