#main-outlet {
  background-color: var(--secondary) !important;
  padding: 1em 0em 1em 0em !important;
  margin-top: 30px !important;
}

.category-box{
   max-height: 80px !important;
}

.category-logo{
   width: 80px !important;
}

.topic-excerpt{
  display: none !important;
}

.topic-item-stats .discourse-tags{
  display: none !important; 
}

.topic-item-stats .num.activity{
  margin-left: 0px !important; 
}
.topic-list-item .topic-list-data.posts{
  justify-content: left !important; 
}
