$bg: url(dark-light-choose($light-background, $dark-background));

$e4-color-darkred: dark-light-choose(#0000FF, #a30000);
$e4-color-hardborder: #645f6e;
$e4-color-softborder: #868686;
$e4-color-gradient-medium: #e6e6e6;
$e4-color-gradient-dark: #c9c9c9;
$e4-color-gradient-light: #ffffff;

:root {
  --bg-img: #{$bg};
  --e4-red: #{$e4-color-darkred};
  --e4-hardborder: #{$e4-color-hardborder};
  --e4-softborder: #{$e4-color-softborder};
  --e4-gradient-medium: #{$e4-color-gradient-medium};
  --e4-gradient-dark: #{$e4-color-gradient-dark};
  --e4-gradient-light: #{$e4-color-gradient-medium};
}


