//$bg: url(dark-light-choose($light-background, $dark-background));
$bg: url($light-background);

$e4-color-darkred: dark-light-choose(#a30000, #806be4);
$e4-color-hardborder: dark-light-choose(#645f6e, #000000);
$e4-color-softborder: dark-light-choose(#868686, #202020);
$e4-color-gradient-medium: dark-light-choose(#e6e6e6, #303030);
$e4-color-gradient-dark: dark-light-choose(#c9c9c9, #{$primary});
$e4-color-gradient-light: dark-light-choose(#ffffff, #2d2d2d);

:root {
  --bg-img: #{$bg};
  --e4-red: #{$e4-color-darkred};
  --e4-hardborder: #{$e4-color-hardborder};
  --e4-softborder: #{$e4-color-softborder};
  --e4-gradient-medium: #{$e4-color-gradient-medium};
  --e4-gradient-dark: #{$e4-color-gradient-dark};
  --e4-gradient-light: #{$e4-color-gradient-light};
}
