.topic-list .topic-excerpt{
  display: none !important;
}

.topic-list .topic-list-item .topic-list-data{
  padding: 0px 5px !important;
}

.topic-list-item{
  margin-bottom: 0px !important;
  border: 1px solid rgba(var(--primary-rgb), 0.2) !important;
  border-radius: 0px !important;
  border-width: 1px 0px 0px 0px !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.05) !important;
}

.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner .category-logo{
  width: 90px !important;
  height: 90px !important;
}

.custom-category-boxes:not(.above-discovery-categories-outlet){
  grid-gap: 10px !important
}

